# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/
.venv/

# C++
cpp/build/

# OS / editor
.DS_Store
*.tmp
*.temp
.idea/
.vscode/
